<app-navbar></app-navbar>
<div class="wrapper bg-dark-white">
    <!-- HEADING-BANNER START -->
    <div class="heading-banner-area overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-banner">
                        <div class="heading-banner-title">
                            <h2>Shopping Cart</h2>
                        </div>
                        <div class="breadcumbs pb-15">
                            <ul>
                                <li><a routerLink="/">Home</a></li>
                                <li>Shopping Cart</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- HEADING-BANNER END -->
    <!-- SHOPPING-CART-AREA START -->
    <div class="shopping-cart-area  pt-80 pb-80">
        <div class="container">	
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="shopping-cart">
                        <!-- Nav tabs -->
                        

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- shopping-cart start -->
                            <div class="tab-pane active" id="shopping-cart">
                                <form action="#">
                                    <div class="shop-cart-table">
                                        <div class="table-content table-responsive">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th class="product-thumbnail">Product</th>
                                                        <th class="product-price">Price</th>
                                                        <th class="product-quantity">Quantity</th>
                                                        <th class="product-subtotal">Total</th>
                                                        <th class="product-remove">Remove</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of items">
                                                        <td  class="product-thumbnail  text-left">
                                                            <!-- Single-product start -->
                                                            <div class="single-product">
                                                                <div class="product-img">
                                                                    <a [routerLink]="['/product-detail',item.product.id]"><img src="{{this.categoryService.host+'/productFirst_P/'+item.product.id}}" alt="" /></a>
                                                                </div>
                                                                <div class="product-info">
                                                                    <h4 class="post-title"><a class="text-light-black" href="#">{{item.product.nom | Summary:15}}</a></h4>
                                                                    <p class="mb-0">Color :  {{item.product.color}}</p>
                                                            
                                                                </div>
                                                            </div>
                                                            <!-- Single-product end -->												
                                                        </td>
                                                        <td class="product-price">{{item.product.price-item.product.promotion}} DH</td>
                                                        <td class="product-quantity">
                                    
                                                            <div class="clearfix">
                                                                <div class="cart-plus-minus">
                                                                    <div class="dec qtybutton" (click)="onAddToCart(item.product.id,-1)">-</div>
                                                                    <input type="text" value="{{item.quantity}}" name="qtybutton" class="cart-plus-minus-box">
                                                                    <div class="inc qtybutton" (click)="onAddToCart(item.product.id,1)">+</div>
                                                            </div>
                                                            </div>
                                                        </td>
                                                        <td class="product-subtotal">{{item.quantity*(item.product.price-item.product.promotion)}} DH</td>
                                                        <td class="product-remove">
                                                            <a (click)="onDeleteItem(item.product.id)"><i class="zmdi zmdi-close"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="customer-login mt-30">
                                                <h4 class="title-1 title-border text-uppercase">coupon discount</h4>
                                                <p class="text-gray">Enter your coupon code if you have one!</p>
                                                <input type="text" placeholder="Enter your code here." #inputCoupon>
                                                <button type="submit" data-text="apply coupon" class="button-one submit-button mt-15" (click)="onCouponCode()">apply coupon</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="customer-login payment-details mt-30">
                                                <h4 class="title-1 title-border text-uppercase">payment details</h4>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-left">Cart Subtotal</td>
                                                            <td class="text-right">{{cartSubTotal}} DH ({{items.length}} items)</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-left">Delivery Subtotal</td>
                                                            <td class="text-right" *ngIf="deliverySubtotal>0">+ {{deliverySubtotal}} DH</td>
                                                            <td class="text-right" *ngIf="deliverySubtotal==0" style="color: rgb(22, 142, 40);"><i class="bi bi-truck"></i> Free Delivery</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="text-left">Coupon Discount</td>
                                                            <td class="text-right" *ngIf="couponDicount>0" style="color: rgb(22, 142, 40);">- {{couponDicount}} DH</td>
                                                            <td class="text-right" *ngIf="couponDicount==0">00.00 DH</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-left">Order Total</td>
                                                            <td class="text-right">{{orderTotal}} DH</td>
                                                        </tr>
                            
                                                    </tbody>
                                                </table>
                                                
                                                    <button type="submit" data-text="get a quote" class="button-one submit-button mt-15" (click)="onPlaceOrder()">place order</button>

                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="wrapper">

			<div class="product-area pt-80 pb-35">
				<div class="container">
					<!-- Section-title start -->
					<div class="row">
						<div class="col-lg-12">
							<div class="section-title text-center">
								<h2 class="title-border">Featured Products</h2>
							</div>
						</div>
					</div>
			
					<div class="row">
					
                        <div class="single-product col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let p of recommendations">
                            <div class="product-img">
        
                                <span *ngIf="p.promotion>0" class="pro-label sale-label">-{{p.promotion}} %</span>
                                <span *ngIf="p.qteStock==0" class="pro-label stock-label">Out Of Stock</span>
                                <div class="product-action clearfix">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                </div>
                                <a [routerLink]="['/product-detail', p.id]"><img src="{{this.categoryService.host+'/productFirst_P/'+p.id}}" alt="" /></a>
                               
                            </div>
                            <div class="product-info clearfix">
                                <div class="fix">
                                    <h4 class="post-title floatleft"><a href="#">{{p.nom}}</a></h4>
                                    <p class="floatright hidden-sm hidden-xs">Furniture</p>
                                </div>
                                <div class="fix">
                                    <span class="pro-price floatleft">{{p.price|number:'0.00'}} DH</span>
                                    <span class="pro-rating floatright">
                                        <a href="#"><i class="zmdi zmdi-star"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
							
						
					</div>
                    
				</div>
			</div>
		
		
			

		</div>											
                                        </div>
                                    </div>
                                </form>		
                            </div>
                            <!-- shopping-cart end -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product container">
                            <div style="text-align: center;">
                            <img src="assets/images/home_img/oops.jpg" alt="" style="width: 30%;height: 30%;">
                            </div>
                            <h1 *ngIf="customer!=null">Dear valued {{customer.name}},</h1>
                            <div class="quick-desc">
                                <p>Thank you for your order! We appreciate your business and we are sorry to inform you that some of the items you have selected are currently out of stock with the required quantity.</p>
                              
                                <p>Unfortunately, we do not have the following items available at the moment with the required quantity:</p>
                                <ul style="margin-left: 2%; color: #C8A165;">
                                    <li *ngFor="let prod of productsOutStock"> ☆ {{prod}}</li>
                                </ul>
                                <br>
                                <p>We understand that this may be disappointing news, but we want to assure you that we are doing everything we can to restock these items as soon as possible. If you would like to wait for the items to become availabl click on<strong>Cancel</strong> , we will be happy to hold your order and ship it out as soon as we receive the products..</p>
                                
                                <p>Alternatively, if you would prefer to receive a partial shipment of the items that are currently in stock, please click on <strong>Proceed</strong>  and we will be happy to process the order accordingly with the available products.</p>

                            </div>
                            <div style="display: flex; justify-content: space-between;">
                            <button class="single_add_to_cart_button" type="submit" (click)="onProceed()" data-dismiss="modal" >Proceed</button>
                            <button class="single_add_to_cart_button" type="submit" data-dismiss="modal"   >Concel</button>
                            </div>
                        </div>
                    </div>  
                                 
                </div>  
            </div>                  
                                 
                              
        </div>
        <!-- END Modal -->
    </div>
    <!-- SHOPPING-CART-AREA END --> 
</div>
		