
<app-admin-products></app-admin-products>
<div id="main">
  <div class="row">
    <div id="breadcrumbs-wrapper" style="margin-top: 3%;" >
      <!-- Search for small screen-->
      <div class="container">
        <div class="row">
          <div class="col s12 m6 l6">
            <h5 class="breadcrumbs-title mt-0 mb-0"><span>Product Managment</span></h5>
          </div>
          <div class="col s12 m6 l6 right-align-md">
            <ol class="breadcrumbs mb-0">
              <li class="breadcrumb-item"><a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item"><a href="#">Product Managment</a>
              </li>
              <li class="breadcrumb-item active">Product Categories
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="container">
        <div class="section">
<div class="card">
<div class="card-content">
  <p class="caption">Add or edit product</p>
  
</div>
</div>

<!-- HTML VALIDATION  -->

<div class="swal-overlay" [class.swal-overlay--show-modal]="isShow" tabindex="-1">
  <div class="swal-modal"><div class="swal-icon swal-icon--success">
    <span class="swal-icon--success__line swal-icon--success__line--long"></span>
    <span class="swal-icon--success__line swal-icon--success__line--tip"></span>

    <div class="swal-icon--success__ring"></div>
    <div class="swal-icon--success__hide-corners"></div>
  </div>
  <div class="swal-title" style="">Good job!</div>
  <div class="swal-text" style="">The product has been added with success!</div>
  <div class="swal-footer">
    <div class="swal-button-container">
      <button class="mt-2 waves-effect waves-light gradient-45deg-deep-purple-blue btn btn-block modal-trigger z-depth-4 showMore" (click)="onShowList()">Show Products?</button>

    </div>

  </div>
</div>
</div>

<div class="row">
<div class="col s12">
  <div id="html-validations" class="card card-tabs">
    <div class="card-content">
      <div class="card-title">
        <div class="row">
          <div class="col s12 m6 l10">
            <h4 class="card-title">Product</h4>
          </div>
          <div class="col s12 m6 l2">
          </div>
        </div>
      </div>
      <div id="html-view-validations">
        <form class="formValidate0" [formGroup] = "productForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="input-field col s12">
              <label for="uname0" [class.active]="isInputActive[0]">Product Name*</label>
              <input [class.invalid]="name?.touched && name?.invalid" formControlName="name" class="validate" required="" id="uname0" type="text" (focus)="isInputActive[0]=true" (blur)="onInputBlur(uname.value,0) " #uname>
            </div>
            <div class="input-field col s12">
              <label for="cemail0" [class.active]="isInputActive[1]">Description *</label>
              <textarea [class.invalid]="description?.touched && description?.invalid" formControlName="description" id="cemail0" class="materialize-textarea"(focus)="isInputActive[1]=true"  (blur)="onInputBlur(descrp.value,1) " #descrp></textarea>
            </div>
            <div class="col s12" >
              <div class="row">
                <div class="input-field col m6 s12">
                  <label for="price" [class.active]="isInputActive[2]">Price *</label>
                  <input [class.invalid]="price?.touched && price?.invalid" formControlName="price" class="validate" id="price" type="text"  (focus)="isInputActive[2]=true"  (blur)="onInputBlur(price.value,2) ">
                  <div   *ngIf="price?.touched && price?.invalid" class="alert alert-danger error" style="margin-left: 5px; width: 500px;padding: 5px;float: left;" >
                    <div *ngIf="price?.errors?.['pattern']">Price should be a number</div>
                </div>
                </div>
                <div class="input-field col m6 s12">
                  <label for="promotion" [class.active]="isInputActive[3]">Promotion</label>
                  <input formControlName="promotion" class="validate" required="" id="promotion" type="number"  (focus)="isInputActive[3]=true" (blur)="onInputBlur(promotion.value,3) " #promotion>
           
                </div>
              </div>
            </div>
            <div class="input-field col s12">
              <label for="qteStock" [class.active]="isInputActive[4]">Stock Quantity :</label>
              <input  [class.invalid]="qteStock?.touched && qteStock?.invalid" formControlName="qteStock" class="validate" required="" id="qteStock" type="number"  (focus)="isInputActive[4]=true"  (blur)="onInputBlur(stock.value,4) " #stock>
            </div>
            <div class="sameLine">
            <div class="input-field col s12">
              <label for="color" class="active">Color :</label>
              <select id="color" formControlName="color">
                <option value=""></option>
                <option value="{{i}}" *ngFor="let color of colors; let i=index">{{color}}</option>
               
              </select>
            </div>
            <div class="input-field col s12">
              <label for="category" class="active">Category:</label>
            <select id="category" formControlName="category" [class.invalid]="category?.touched && category?.invalid">
              <option value=""></option>
              <option value="{{category.id}}" *ngFor="let category of categories">{{category.title}}</option>
             
            </select>
            </div>
          </div>
            <div class="col s12">
              <label for="tnc_select1">Selected product</label>
              <p>
                <label>
                  <input class="validate"  id="tnc_select1" type="checkbox" formControlName="selectProduct">
                  <span>Display ths product in the first product page</span>
                </label>
              </p>
              <div class="input-field">
              </div>
            </div>
            
            <label for="images" class="active">Images:</label>
            <div class="form-group">
              <div class="upload-image">
                <div #image class="image-wrapper">
                  <li class="list"  *ngFor="let image of images_product; let i = index;">
                    <a class="delete-btn" (click)="deleteProductImage(null, a,i)" #a>
                      <i class="material-icons">delete_forever</i>
                    </a>
                    <img [src]="image" class="product-image">
                  </li>
                </div>
                <div class="browse-btn">
                <div class="dropify-wrapper" style="height: 230px;width: 150px;"><div class="dropify-message"><span class="file-icon"></span> <p>Drag and drop a file here or click</p><p class="dropify-error">Ooops, something wrong appended.</p></div><div class="dropify-loader"></div><div class="dropify-errors-container"><ul></ul></div><input #inputFile (change)="onSelectedFile($event)" type="file" id="input-file-now-custom-2" class="dropify" data-height="500"><button type="button" class="dropify-clear">Remove</button><div class="dropify-preview"><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p><p class="dropify-infos-message">Drag and drop or click to replace</p></div></div></div></div>
                
                  <!--<input type="file" name="cameraImg"  id="input-file-now-custom-2" class="dropify" data-height="500" (change)="onSelectedFile($event)" />
                  <div class="browse-image">
                    <img src="assets/images/camera.png" width="60px" />
                    <p>Browse image</p>
                  </div>-->
                </div>
              </div>
            </div>
           
            
            
            <div class="input-field col s12">
              <button [disabled]="productForm.invalid " class="btn waves-effect waves-light right" type="submit" name="action">Validate
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>


