
<app-admin-products></app-admin-products>
<div id="main">
  <div class="row">
    <div id="breadcrumbs-wrapper" data-image="../../../app-assets/images/gallery/breadcrumb-bg.jpg">
      <!-- Search for small screen-->
      <div class="container">
        <div class="row">
          <div class="col s12 m6 l6">
            <h5 class="breadcrumbs-title mt-0 mb-0"><span>Form Validation</span></h5>
          </div>
          <div class="col s12 m6 l6 right-align-md">
            <ol class="breadcrumbs mb-0">
              <li class="breadcrumb-item"><a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item"><a href="#">Form</a>
              </li>
              <li class="breadcrumb-item active">Form Validation
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="container">
        <div class="section">
<div class="card">
<div class="card-content">
  <p class="caption">jQuery Validation Plugin</p>
  <p><a href="http://jqueryvalidation.org/" target="_blank">jQuery Validation</a> This jQuery plugin makes simple
    clientside form validation easy, whilst still offering plenty of customization options.</p>
</div>
</div>

<!-- HTML VALIDATION  -->

<div class="row">
<div class="col s12">
  <div id="html-validations" class="card card-tabs">
    <div class="card-content">
      <div class="card-title">
        <div class="row">
          <div class="col s12 m6 l10">
            <h4 class="card-title">HTML Validation Example</h4>
          </div>
          <div class="col s12 m6 l2">
          </div>
        </div>
      </div>
      <div id="html-view-validations">
        <form class="formValidate0" id="formValidate0" method="get">
          <div class="row">
            <div class="input-field col s12">
              <label for="uname0" [class.active]="isInputActive">Username*</label>
              <input class="validate" required="" id="uname0" name="uname0" type="text" (focus)="isInputActive=true" (blur)="onInputBlur(uname.value) " #uname>
            </div>
            <div class="input-field col s12">
              <label for="cemail0" class="active">E-Mail *</label>
              <input class="validate" required="" id="cemail0" type="email" name="cemail0">
            </div>
            <div class="input-field col s12">
              <label for="password0">Password *</label>
              <input class="validate" required="" id="password0" type="password" name="password0">
            </div>
            <div class="input-field col s12">
              <label for="cpassword0">Confirm Password *</label>
              <input class="validate" required="" id="cpassword0" type="password" name="cpassword0">
            </div>
            <div class="input-field col s12">
              <label for="curl0">URL *</label>
              <input class="validate" required="" id="curl0" type="url" name="curl0">
            </div>
            <div class="col s12">
              <label for="role">Role</label>
              <select class="error validate" id="role" name="role" required="">
                <option value="" disabled="" selected="">Choose your profile</option>
                <option value="1">Manager</option>
                <option value="2">Developer</option>
                <option value="3">Business</option>
              </select>
              <div class="input-field">
              </div>
            </div>
            <div class="input-field col s12">
              <textarea id="ccomment0" name="ccomment0" class="materialize-textarea validate" required=""></textarea>
              <label for="ccomment0">Your comment *</label>
            </div>
            <div class="col s12">
              <p>Gender</p>
              <p>
                <label>
                  <input class="validate" required="" name="gender0" type="radio" checked="">
                  <span>Male</span>
                </label>
              </p>

              <label>
                <input class="validate" required="" name="gender0" type="radio">
                <span>Female</span>
              </label>
              <div class="input-field">
              </div>
            </div>
            <div class="col s12">
              <label for="tnc_select1">T&C *</label>
              <p>
                <label>
                  <input class="validate" required="" id="tnc_select1" type="checkbox">
                  <span>Please agree to our policies</span>
                </label>
              </p>
              <div class="input-field">
              </div>
            </div>
            <div class="input-field col s12">
              <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>


