p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff!important;
}

b{
    font-family: Muli,sans-serif;
    font-weight: bolder;
    line-height: 1.5;
    font-size: 20px;
    color: #6b6f82!important;
}

.info{
    font-family: Muli,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #6b6f82!important;
}
span{
    color: rgb(214, 135, 32);
}

   
.chartBox{
    height: 500px;
}


select{
    display: block;
}
#breadcrumbs-wrapper{
    background: url(~src/assets/images/admin/breadcrumb-bg.jpg)  no-repeat scroll center center / cover;
    
}
h5{
    color: #f4f5f7;
}

ol li a{
    color:rgba(255,255,255,.8);
    font-size: large;
}
#breadcrumbs-wrapper .breadcrumbs .active{
    color:rgba(255,255,255,.9);
    font-size: large;
}

label{
    font-size: 1.2rem;
    font-weight: 500;
}

.image-wrapper li {
    width: 150px;
    height: 230px;
    margin: 10px;
    float: left;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff;
    margin-bottom: 25px;
}
.breadcrumbs-title{
    color:rgba(255,255,255,.8);
}