<div class="heading-banner-area overlay-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-banner">
                    <div class="heading-banner-title">
                        <h2>check out</h2>
                    </div>
                    <div class="breadcumbs pb-15">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>check out</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HEADING-BANNER END -->
<!-- WRAPPER START -->
<div class="wrapper bg-dark-white">
    
    <!-- CHECKOUT-AREA START -->
    <div class="shopping-cart-area  pt-80 pb-80">
        <div class="container">	
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="shopping-cart">
                        <!-- Tab panes -->
                        <div class="tab-content">

                            
                            <div class="tab-pane active" id="check-out">
                                <form  [formGroup]="commandForm" (ngSubmit)="Fcommand()">
                                    <div class="shop-cart-table check-out-wrap">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="billing-details pr-20">
                                                    <h4 class="title-1 title-border text-uppercase mb-30">billing details</h4>
                                                    <label for="name">Name of Recipient</label>
                                                    <input type="text" placeholder="Name"  id="name"  formControlName="name"/>
                                                    <div *ngIf="name?.touched && name?.invalid" class="alert alert-danger error" >
                                                        Name is required
                                                    </div>
                                                  
                                                    
                                                    <label for="email">Email Address of Recipient</label>
                                                    <input type="email"  id="email" formControlName="email"/>
                                                    <div *ngIf="email?.touched && email?.invalid" class="alert alert-danger error" >
                                                        <div *ngIf="email?.errors?.['required']">Email is required</div>
                                                        <div *ngIf="email?.errors?.['email']">Invalid Email</div>
                                                    </div>
                                                    <label for="phone">Phone of Recipient</label>
                                                    <input type="text"  id="phone" formControlName="phone"/>
                                                    <div *ngIf="phone?.touched && phone?.invalid" class="alert alert-danger error" >
                                                        <div *ngIf="phone?.errors?.['required']">Phone is required</div>
                                                        <div *ngIf="phone?.errors?.['pattern']">Invalid phone number</div>
                                                    </div>
                                                    
                                                    <label for="date">Change the date of the delivery</label>
                                                    <input type="Date"  id="date" class="form-control" formControlName="dateD">
                                                    <div *ngIf="dateD?.errors?.['minDateError']" class="alert alert-danger error">
                                                        The selected delivery date is less than the minimum allowed date. Please choose a date that is after {{ defaultDate }}.
                                                     </div>
                                                     
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12 mt-xs-30">
                                                <div class="billing-details pl-20">
                                                    <h4 class="title-1 title-border text-uppercase mb-30">ship to different address</h4>
                                                   
                                                    <label for="region">Region</label>
                                                    <select class="custom-select mb-15" id="city" (change)="getCitiesIn($event)" formControlName="region" >
                                                        <option *ngFor="let region of regions" value="{{region.id}}" >{{region.nom}}</option>
                                                    </select>
                                                    <div *ngIf="region?.touched && region?.invalid" class="alert alert-danger error" >
                                                        Region is required
                                                    </div>
                                                        

                                                    <label for="city">City</label>
                                                    <select class="custom-select mb-15" id="town" formControlName="city">
                                                        <option *ngFor="let city of cities" value="{{city.id}}" >{{city.nom}}</option>
                                                       
                                                    </select>
                                                    <div *ngIf="city?.touched && city?.invalid" class="alert alert-danger error" >
                                                        City is required 
                                                    </div>

                                                    <label for="adress">Address</label>

                                                    <textarea id="adress" class="custom-textarea" placeholder="Your address here..." formControlName="address"></textarea>
                                                    <div *ngIf="address?.touched && address?.invalid" class="alert alert-danger error" >
                                                        Address is required
                                                    </div>

                                                    <label>
                                                        <input type="checkbox" formControlName="regesterAddress"  >
                                                        Use this Address in the next shipping
                                                    </label>

                                                      <label>
                                                        <input type="checkbox" name="example" (change)="onAssemblyChoose()" formControlName="withAssembly" >
                                                        Would you like to add the assembly service with the delivery?
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="our-order payment-details mt-60 pr-20">
                                                    <h4 class="title-1 title-border text-uppercase mb-30">our order</h4>
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th><strong>Product</strong></th>
                                                                <th class="text-right"><strong>Total</strong></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of items">
                                                                <td>{{item.product.nom}} x {{item.quantity}}</td>
                                                                <td class="text-right">{{item.product.price-item.product.promotion}} DH</td>
                                                            </tr>
                                                    
                                                            <tr>
                                                                <td>Cart Subtotal</td>
                                                                <td class="text-right">{{cartSubTotal}} DH</td>
                                                            </tr>
                                                            <tr >
                                                                <td>Coupon Discount</td>
                                                                <td class="text-right" *ngIf="couponDicount>0" style="color: rgb(22, 142, 40);">- {{couponDicount}} DH</td>
                                                                <td class="text-right" *ngIf="couponDicount==0">00.00 DH</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Delivery Subtotal</td>
                                                                <td class="text-right" *ngIf="deliverySubtotal>0">+ {{deliverySubtotal}} DH</td>
                                                                <td class="text-right" *ngIf="deliverySubtotal==0" style="color: rgb(22, 142, 40);"><i class="bi bi-truck"></i> Free Delivery</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Assembly Subtotal</td>
                                                                <td class="text-right" *ngIf="assemblySubtotal>0">+ {{assemblySubtotal}} DH</td>
                                                                <td class="text-right" *ngIf="assemblySubtotal==0">00.00 DH</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Order Total</td>
                                                                <td class="text-right">{{orderTotal}} DH</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- payment-method -->
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="payment-method mt-60  pl-20">
                                                    <h4 class="title-1 title-border text-uppercase mb-30">payment method</h4>
                                                    <div class="payment-accordion">
                                                        <!-- Accordion start  -->
                                                        <div (click)="onCreditCard()">
                                                            <h3 class="payment-accordion-toggle" >Credit Cards
                                                                <div style="float: right;"> 
                                                                <img style="margin: 0 4px;" src="assets/images/payment/1.png" alt="" />
                                                                <img style="margin: 0 4px;" src="assets/images/payment/2.png" alt="" />
                                                                <img style="margin: 0 4px;" src="assets/images/payment/3.png" alt="" />
                                                                <img style="margin: 0 4px;" src="assets/images/payment/4.png" alt="" />
                                                                </div>
                                                            </h3>
                                                            
                                                        </div>
                                                        <div *ngIf="isCreditCart" class="payment-content"  [class.displayb]="isCreditCart" [class.displayn]="!isCreditCart"  [@slideInOut]="isCreditCart? 'in' : 'out'">
                                                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won't be shipped until the funds have cleared in our account.</p>
                                                            <div class="container">
                                                                <div class="card">
                                                                   <!-- <button class="proceed"><svg class="sendicon" width="24" height="24" viewBox="0 0 24 24">
                                                                    <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
                                                                    </svg></button>-->
                                                                    <img src="https://seeklogo.com/images/V/VISA-logo-62D5B26FE1-seeklogo.com.png" class="logo-card">
                                                                    <div class="chip"></div>
                                                                     <div class="container2">
                                                                        <label>Card number:</label>
                                                                        <input id="user" type="text" class="cardnumber cartB"  placeholder="1234 5678 9101 1121" formControlName="cardNumber">
                                                                        <div *ngIf="cardNumber?.touched && cardNumber?.invalid" class="alert alert-danger error" >
                                                                            <div *ngIf="cardNumber?.errors?.['required']">Card number is required</div>
                                                                            <div *ngIf="cardNumber?.errors?.['pattern']">Invalid Card number</div>
                                                                        </div>
                                                                        <div style="display: flex;justify-content: space-between;">
                                                                        <label>Name:</label>
                                                                        <label for="cvv" >CVV:</label>
                                                                    </div>
                                                                        <input  class="name cartB"  placeholder="Edgar Pérez" formControlName="cardName">
                                                                        <div *ngIf="cardName?.touched && cardName?.invalid" class="alert alert-danger error" style="margin-left: 5px; width: 100px;padding: 2px;float: left;" >
                                                                            <div *ngIf="cardName?.errors?.['required']">Name is required</div>
                                                                        </div>

                                                                        
                                                                        <input id="cvv" class="toleft ccv cartB" placeholder="321" formControlName="cvc">
                                                                        <div *ngIf="cvc?.touched && cvc?.invalid" class="alert alert-danger error" style="width: 100px;padding: 2px;float: right;">
                                                                            <div *ngIf="cvc?.errors?.['required']">CVV is required</div>
                                                                            <div *ngIf="cvc?.errors?.['pattern']">Invalid CVV</div>
                                                                        </div>
                                                                       
                                                                     </div>
                                                                    </div>
                                                              </div>
                                                              
                                                              
                                                       
                                                        </div> 
                                                        <!-- Accordion end -->
                                                        <!-- Accordion start -->
                                                        <div (click)="onCOD()"><h3 class="payment-accordion-toggle" >Cash on Delivery (COD)</h3></div>
                                                        <div class="payment-content" [class.displayb]="isCOD" [class.displayn]="!isCOD" [@slideInOut]="isCOD? 'in' : 'out'">
                                                            <p>Thank you for choosing Cash On Delivery (COD) as your payment method. You will be able to make the payment in cash when your order is delivered to your doorstep. Please make sure that you have the exact amount ready to ensure a smooth transaction. Our delivery personnel will contact you to confirm the delivery date and time. Thank you for shopping with us!</p>
                                                        </div>
                                                        <!-- Accordion end -->
                                                        <!-- Accordion start -->
                                                        <app-navbar></app-navbar>
                                                        <div (click)="onPayPal()">
                                                            <h3 class="payment-accordion-toggle" >PayPal
                                                                <div style="float: right;"> 
                                                                    <img style="width: 80px;height: 30px;" src="assets/images/payment/paypal.png" alt="" />
                                                                    
                                                                </div>
                                                            </h3>
                                                        </div>
                                                        <div class="payment-content"[class.displayb]="isPayPal" [class.displayn]="!isPayPal" [@slideInOut]="isPayPal? 'in' : 'out'">
                                                            <p>Pay via PayPal; you can pay with your credit card if you don't have a PayPal account.</p>
                                                            <div #paypalref style="width: 50%; margin: auto;"></div>
                                                        </div>
                                                        <!-- Accordion end --> 
                                                        <button [disabled]="commandForm.invalid" class="button-one submit-button mt-15" data-text="place order" type="submit">place order</button>			
                                                    </div>															
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>											
                            </div>
                            <!-- check-out end -->
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CHECKOUT-AREA END -->
</div>	
