<nav class="navbar" (scroll)="onScroll($event)" [class.active-nav]="isActive">
    <div class="nav-center">
        <!--logo-->
        <div id="logo">Decor<i class="bi bi-flower3"></i></div>
        <!--liens-->
        <div>
            <button class="toggle-nav"  (click)="onToggle()">
                <i class="bi bi-justify"></i>
            </button>
            <ul class="nav-links" [class.mobile-menu]="mobileSize" >
                <li><a routerLink="/" class="nav-link">Home</a></li>
                <li><a [routerLink]="['/products', 1, 0]" class="nav-link">Products</a></li>
                <li><a routerLink="/about" class="nav-link">About</a></li>
                <!--<li><a routerLink="/login" class="nav-link">login</a></li>-->
                
                <li *ngIf="!isAuthenticated"><a routerLink="/login" class="nav-link">Login</a></li>
                <li  ngbDropdown class="nav-item dropdown" *ngIf="isAuthenticated ">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{this.authservice.userAutenticated.name}}
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="this.authservice.userAutenticated.role==='customer'">
                      <a class="dropdown-item" routerLink="/profile">My Profile</a>
                      <a class="dropdown-item" routerLink="/orders">My Orders</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" (click)="onLogout()" routerLink="/">Log Out</a>
                    </div>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="this.authservice.userAutenticated.role==='admin'">
    
                        <a class="dropdown-item"  routerLink="/charts">Dashboard</a>
                      </div>
                  </li>
            </ul>
        </div>
        
        <!--card icon-->
        <div class="toggle-container">
            <a routerLink="/shopping-cart" class="toggle-cart" (click)="onShowCart()">
                 
                <i class="bi bi-cart-fill"></i>
            </a>
            <span *ngIf="navCaddyCount>0" class="cart-item-count" >{{navCaddyCount}}</span>
            
            <a routerLink="/wishlist" class="toggle-cart" (click)="onShowCart()">
                 
                <i class="bi bi-heart-fill"></i>
            </a>
            <span *ngIf="navCaddyCount>0" class="cart-item-count" >{{navCaddyCount}}</span>
        </div>
       
    </div>
</nav>