@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.sidenav-dark .brand-sidebar{background:#C8A165;box-shadow:0 -4px 7px 1px rgba(0,0,0,.2)}
.sidenav li a.active{margin:0;color:#fff;background:#C8A165;box-shadow:none}
 .navbar-fixed {
    /* z-index: 997; */
    height: 0;
}

.expendedDropdown{
    display: block;
    width: 400px;
    left: 930px;
    top: 64px;
    height: 232px;
    transform-origin: 100% 0px;
    opacity: 1;
    transform: scaleX(1) scaleY(1);
}
.navbar .navbar-main {
    padding: 0 8px 0 15px;
    margin-top: 3%;
}



.profileExpended{
    display: block;
    width: 160px;
    left: 1220px;
    top: 64px;
    height: 200px;
    transform-origin: 100% 0px;
    opacity: 1;
    transform: scaleX(1) scaleY(1);

}

.forme{
    margin-top: 10px;
    padding: 0 40px;
}