@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.sidenav-dark .brand-sidebar{background:#C8A165;box-shadow:0 -4px 7px 1px rgba(0,0,0,.2)}
.sidenav li a.active{margin:0;color:#fff;background:#C8A165;box-shadow:none}
 .navbar-fixed {
    /* z-index: 997; */
    height: 0;
}

.expendedDropdown{
    display: block;
    width: 400px;
    left: 923px;
    top: 64px;
    height: 232px;
    transform-origin: 100% 0px;
    opacity: 1;
    transform: scaleX(1) scaleY(1);
}
.navbar .navbar-main {
    padding: 0 8px 0 15px;
    margin-top: 3%;
}



.profileExpended{
    display: block;
    width: 160px;
    left: 1229px;
    top: 64px;
    height: 200px;
    transform-origin: 100% 0px;
    opacity: 1;
    transform: scaleX(1) scaleY(1);

}

.forme{
    margin-top: 10px;
    padding: 0 40px;
}


#mlogo{
    width:90px;
    height:50px;
    margin-left: 30%;
}
@media only screen and (max-width: 992px)
{.brand-sidebar .brand-logo {
   padding: 50% 0;
}
}

.navExpended{
    transform: translateX(0%);
}

.overlayNotExpended{
    display: none;
    opacity: 0;
}

.overlayExpended{
    display: block;
    opacity: 1;
}
.afterClick{
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    content: '';
    -webkit-transition: .2s opacity ease-out,.2s color ease-out;
    transition: .2s opacity ease-out,.2s color ease-out;
    opacity: 0;

}